.nav-top {
    border-bottom: 1px solid #ddd;
}

.region {
    color: #379DFF;
    font-weight: bold;
}

.btn-login, .btn-cart {
    background-color: white;
}

.btn-login:hover, .btn-cart:hover {
    background-color: #f2f4f5;
}

.btn-featured {
    background-color: #ea4d2c;
    color: white;
    border: none;
}

.btn-featured:hover {
    background-color: #ff6b4a;
    color: white;
    box-shadow: 0 0 10px #ea4d2c;
}

.nav-bar {
    color: #4b4b4b;
    box-shadow: inset 0 -1px #ddd;
}

.nav-item a {
    color: #4b4b4b;
}

.nav-item a:hover {
    text-decoration: underline;
}

.dropdown-column a:hover {
    color: #ea4d2c;
}

.promo-bar {
    background: linear-gradient(to right, #0e0e3b, #651a9a);
    color: white;
}

.promo-btn {
    background-color: #ea4d2c;
    color: white;
    border: none;
}

.promo-btn:hover {
    background-color: #ff6b4a;
    color: white;
    box-shadow: 0 0 10px #ea4d2c;
}

.num {
    background-color: #9985b9;
    color: white;
}

.featured-title {
    color: black;
}

.discount {
    background-color: #ea4d2c;
    color: white;
}

.product-name {
    color: #999;
}

.stars {
    color: #ea4d2c;
}

.old-price {
    color: #888;
}

.new-price {
    color: black;
    font-weight: bold;
}

.qty-btn {
    background-color: white;
    color: #ea4d2c;
    border: 1px solid #ebebeb;
}

.qty-btn.disabled {
    background-color: #f2f4f5;
    color: #979899;
    border: 1px solid #ebebeb;
}

.buy-btn {
    background-color: black;
    color: white;
}

.buy-btn:hover {
    background-color: #333;
    color: white;
    box-shadow: 0 0 10px #000;
}

.footer {
    background-color: #181818;
    color: #fff;
}

.footer-tags button:hover {
    background-color: #ea4d2c;
    color: white;
    box-shadow: 0 0 10px #000;
}

.footer-column ul li {
    color: #ababab;
}

.footer-column ul li:hover {
    color: #fff;
}

.footer-bottom {
    border-color: #333;
}

button {
    background-color: #eee;
    color: #111;
    border: none;
}

.side-menu {
    background-color: white;
    color: black;
}
.menu-content h3 {
    color: #FF5733;
}
.menu-content a {
    color: black;
    text-decoration: none;
}  